<!doctype html>
<html lang="en">
  <head>
    <title>Add Product</title>
    <%- include('../components/meta.ejs'); -%> <%-
    include('../components/tailwindcss.ejs'); -%>
  </head>
  <body>
    <div class="flex items-center justify-center gap-3 h-screen">
      <form
        action="/shop/add-product"
        method="post"
        class="block p-5 shadow-md w-[25rem] flex flex-col gap-3"
      >
        <input
          type="text"
          name="name"
          class="border-1 py-1 focus:outline-none border-2 rounded-sm border-solid border-slate-500"
          placeholder="Title"
        />
        <input
          type="text"
          name="imageURL"
          class="border-1 py-1 focus:outline-none border-2 rounded-sm border-solid border-slate-500"
          placeholder="Image URL"
        />
        <textarea
          name="description"
          class="border-1 py-1 focus:outline-none border-2 rounded-sm border-solid border-slate-500"
          placeholder="Description"
        ></textarea>

        <button
          class="px-4 py-1 border-2 border-solid border-slate-500 text-slate-500"
        >
          Add Product
        </button>
      </form>
    </div>
  </body>
</html>
