<!doctype html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <%- include('../components/meta.ejs'); -%> <%-
    include('../components/tailwindcss.ejs'); -%>
  </head>
  <body>
    <div class="flex items-center justify-center h-screen">
      <h1 class="font-bold text-3xl font-san">404 not found</h1>
    </div>
  </body>
</html>
