<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../components/meta') %> <%-
    include('../components/tailwindcss.ejs'); -%>
  </head>
  <body>
    <%- include("../components/navbar") %>
    <div class="font-san w-full p-5 capitalize flex justify-between">
      <h4>Product List</h4>
      <a
        href="/products/add-product"
        class="bg-slate-800 text-sm hover:bg-slate-900 text-slate-50 py-2 px-3 capitalize rounded-md"
      >
        add product
      </a>
    </div>
    <div class="px-5 py-3 flex gap-3 flex-wrap">
        <% products.forEach(function(product){ %>
          <%- include('../components/item', { product: product }) %>
        <% }); %>
    </div>
  </body>
</html>
