<div class="rounded-md border border-solid w-[15rem] cursor-pointer transition-all hover:shadow-md p-2">
    <img src="/image/thumbnail.jpg" alt="product image" class="block rounded-md">
    <h3 class="my-2 text-xl capitalize font-bold"><%- product.name %></h3>
    <h6>$3.7</h6>
</div>