<div class="w-full shadow-sm">
  <ul class="m-0 py-3 flex">
    <li class="transition-colors group">
      <a
        href="/products"
        class="capitalize block py-2 px-5 hover:underline hover:font-bold transition-all rounded-md"
        >products</a
      >
    </li>
    <li class="transition-colors group">
      <a
        href="/admin"
        class="capitalize block py-2 px-5 hover:underline hover:font-bold transition-all rounded-md"
        >admin</a
      >
    </li>
  </ul>
</div>
