<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../components/meta') %> <%-
    include('../components/tailwindcss.ejs'); -%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../components/navbar") %>
    <div>Cart</div>
  </body>
</html>
